* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --navy: #212d40;
  --white: #fefefa;
  --grey: #626262;
  --blue: #208aae;
  --yellow: #f7b32b;
  --crimson: #d72638;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  font-weight: 700;
  background-color: var(--navy);
  color: var(--white);
}

.initialise {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  h1 {
    grid-area: 1 / 2;
  }
  div:first-of-type {
    grid-area: 2;
  }
  div:last-of-type {
    grid-area: 2 / 3;
  }
  button {
    grid-area: 2 / 2;
    justify-self: center;
    align-self: center;
  }
}
.cell,
.component {
  width: 24px;
  height: 24px;
  border: 1px solid var(--white);
  transition: all 0.2s ease;
}

.component {
  background-color: var(--grey);
}

#hit {
  background-color: var(--crimson);
}

#miss {
  background-color: var(--blue);
}

#grid-ship {
  background-color: var(--grey);
}

.cell:hover {
  border: 1px solid var(--yellow);
  scale: 1.1;
}

.wrapper {
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  width: fit-content;
  border: 1px solid var(--white);
}
main {
  width: 100vw;
  height: 100vh;
}

main,
.game-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-wrap {
  flex-direction: column;
  gap: 24px;
}

.grid-wrap {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.interact-wrap,
.status-wrap {
  height: 240px;
}

.status-wrap {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.interact-wrap {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.ship {
  display: flex;
}

div[data-direction="vertical"] {
  flex-direction: column;
  height: fit-content;
  width: fit-content;
}

div[data-direction="horizontal"] {
  flex-direction: row;
  height: fit-content;
  width: fit-content;
}

button {
  width: 90px;
  height: 35px;
  background-color: var(--white);
  border: none;
  color: black;
  font-weight: bold;
  border-radius: 10px;
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.1);
}
