* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  font-weight: 700;
}

.cell,
.component {
  width: 24px;
  height: 24px;
  border: 1px solid black;
  transition: all 0.2s ease;
}

.cell:hover {
  border: 1px solid red;
  scale: 1.1;
}

.wrapper {
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  width: fit-content;
  border: 1px solid black;
}
main {
  width: 100vw;
  height: 100vh;
}

main,
.game-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-wrap {
  flex-direction: column;
  gap: 24px;
}

.grid-wrap {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.interact-wrap,
.status-wrap {
  height: 240px;
}

.status-wrap {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.interact-wrap {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.ship {
  display: flex;
}

div[data-direction="vertical"] {
  flex-direction: column;
  height: fit-content;
  width: fit-content;
}

div[data-direction="horizontal"] {
  flex-direction: row;
  height: fit-content;
  width: fit-content;
}
