.cell {
  width: 24px;
  height: 24px;
  border: 1px solid black;
  transition: all 0.2s ease;
}

.cell:hover {
  border: 1px solid red;
  scale: 1.1;
}

.wrapper {
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  width: fit-content;
  border: 1px solid black;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
